* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fredoka", sans-serif;
  color: #232b2b;
  overflow-y: hidden;
}

.active#body {
  overflow-y: hidden;
}

.gameboard {
  width: 1000px;
  height: 70%;
  margin: 100px auto;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0px;
  left: 0px;
  border: 5px solid #232b2b;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.active.gameboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  gap: 10px;
  padding-top: 75px;
}

.gameboard > h1 {
  position: absolute;
  left: 0px;
  top: 0px;
  padding-left: 25px;
  font-size: 48px;
  display: none;
}

.bg-img {
  width: 100%;
  opacity: 0.7;
}

.bg-img-container {
  position: relative;
}

.timer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 50px;
  margin-left: 40px;
  font-size: 38px;
  display: none;
  margin-right: 10px;
}

.timer > h3 > span {
  padding-left: 10px;
}

p {
  padding: 25px;
  line-height: 24px;
  word-spacing: 1.5px;
}

.instructions {
  font-size: 18px;
}

.intro {
  margin-top: 50px;
  font-size: 32px;
}

.btn-start {
  padding: 15px 50px;
  font-size: 22px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  cursor: pointer;
  text-transform: uppercase;

  margin-top: 100px;
  background-color: #be6578;
  color: white;
}

.btn-start:hover {
  background-color: #000000;
}

.bold {
  font-weight: bold;
}

.back-of-card,
.fruit-card {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.fruit-card {
  border: 3px solid #b8546a;
}

.matched-pairs-container {
  display: flex;
  justify-content: right;
  width: 1250px;
  font-size: 26px;
  position: relative;
  display: none;
}

.active.matched-pairs-container {
  display: block;
}

.matched-pairs-container > h3 {
  margin-top: 0px;
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 1000px;
  top: 0;
  padding: 10px;
}

.pop-up {
  position: absolute;
  top: 200px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  margin: 0 auto;
  background: purple;
  width: 500px;
  height: 250px;
  text-align: center;
  display: none;
}

.pop-up > h2 {
  margin-top: 100px;
  font-size: 48px;
}

.gif-container {
  display: flex;
  justify-content: center;
  background: #ff11c2;
  position: relative;
}

.start-over-btn {
  display: none;
}

.active.start-over-btn {
  padding: 15px 25px;
  border: none;
  font-size: 22px;
  border-radius: 5px;
  cursor: pointer;

  display: block;
  height: 50px;
  position: absolute;
  top: 50px;
  text-transform: uppercase;
  background: #0cff00;
  color: #232b2b;
}

.active.start-over-btn:hover {
  background: #ff11c2;
  color: #232b2b;
}

.gameover-img {
  display: none;
}

.active.gameover-img {
  width: 80%;
  display: block;
}

/* Media Queries */

@media screen and (min-width: 389px) and (max-width: 768px) {
  body {
    position: relative;
  }

  .bg-img-container {
    min-width: 100%;
    height: auto;
  }

  .bg-img {
    height: 100vh;
    width: auto;
    min-width: 100%;
  }

  .intro-container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    height: 100vh;
  }

  .gameboard {
    width: 60%;
    margin: 50px auto;
    height: 100vh;
  }

  .intro {
    font-size: 16px;
    margin-top: 0px;
    padding: 0;
    text-align: center;
  }

  .instructions {
    font-size: 16px;
  }

  .btn-start {
    margin-top: 0px;
    font-size: 16px;
  }

  .back-of-card,
  .fruit-card {
    width: 48px;
    height: 48px;
  }

  .active.gameboard {
    padding-top: 30px;
    grid-template-columns: repeat(3, 1fr);
  }

  .gameboard > h1 {
    font-size: 16px;
    margin-top: 10px;
    padding-left: 10px;
  }

  .timer {
    margin-top: 0px;
    font-size: 22px;
    margin-left: 10px;
    position: absolute;
    z-index: 1;
  }

  .matched-pairs-container > h3 {
    left: 80px;
    font-size: 12px;
    top: 80px;
    right: 0px;
  }

  .active.start-over-btn {
    padding: 5px 15px;
    width: 130px;
    font-size: 12px;
    height: 30px;
    top: 10px;
  }
}
